SENTRY_DSN="https://xxxxxxxxxxxxxxxxx"
SENTRY_ENVIRONMENT="development"
GITHUB_TOKEN="github_pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
THE_STACK_LANGUAGES="typescript"

REDIS_IS_CLUSTER=1
REDIS_DB1_HOST=DB1_IP_OR_HOST_NAME
REDIS_DB2_HOST=DB2_IP_OR_HOST_NAME
REDIS_DB3_HOST=DB3_IP_OR_HOST_NAME
REDIS_DB1_PORT=6379
REDIS_DB2_PORT=6379
REDIS_DB3_PORT=6379
REDIS_USERNAME=xxxxxxxxxxx
REDIS_PASSWORD=xxxxxx
REDIS_KEY=xxxxx:

