SENTRY_DSN="https://xxxxxxxxxxxxxxxxxxxxxx"
SENTRY_ENVIRONMENT="development"

# For scripts
HF_TOKEN="hf_xxxxxxxxxxxxxxx"
GITHUB_TOKEN="github_pat_xxxxxxxxxxxxxxxxxxxxxxxxx"
COORDINATOR_URL=http://xxxxxxxxxxxxx:3981
NODE_NAME="APP1"
NODE_HASH="HGR73333"
THREADS_PHASE1=4
THREADS_PHASE2=1
TMPFS_DIR="/mnt/tmpfs_repos"
